
body{
    margin: 0px;
    padding: 0px;
    height: 150vh;
    
    
    background-image:url(320521.webp); 
background-size: contain;
    
}
#top{
    height: auto;
    width: 501px;
    margin-left: 100px;
    margin-top: 100px;
    background-color: #f1e9db;
    border-radius: 20px;
    
}
#box{
    height: 500px;
    width: 500px;
    box-shadow: 0px 3px 5px;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-gap: 10px;
  background-color: #772f1a;
  
}
.the{
    height: 150px;
    width: 150px;
    font-size: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 1px;
    background-color: #716a5c;
    
    
}
.the:hover{
    background-color: lightgrey;
}
button{
    width: 200px;
    height: 40px;
    background-color: green;
    color: white;
    text-align: center;
    margin-left: 30%;
    margin-top: 10px;
    border-radius: 10px;
}
h1,h2{
    text-align: center;
 
}
text{
    color: white;
    font-size: 30px;
    color: white;
}
h2{
    font-size: 60px;
    color:#f1e9db;
}
#fin{
    color: white;
    font-size: 100px;
    position: absolute;
    margin-right: 20px;
    
}
